.button {
    border-width: thick;
    border-color: greenyellow;
}

.disabled {
    border-width: thick;
    border-color: dimgrey;
}

.secondary {
    border-width: thick;
    border-color: #d25b5b;
}

.default {
    border-width: thick;
    border-color: greenyellow;
}

.red {
    border-width: thick;
    border-color: red;
}

.default:hover {
}

.red:hover {
    border-color: darkred;
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
